<ion-content [fullscreen]="true">
  <ion-content collapse="condense">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="dashboard-title">
            <ion-text>
              Hola, <span class="dashboard-title__username">Steven!</span> <br />
              <span class="dashboard-title__subtitle">¿Estas listo para administrar tu negocio?</span>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
      <app-dashboard-item></app-dashboard-item>
    </ion-grid>
  </ion-content>
</ion-content>
